<div id="<%= dom_id channel %>">
  <p>
    <strong>Channelname:</strong>
    <%= channel.channelName %>
  </p>

  <p>
    <strong>Creatorid:</strong>
    <%= channel.creatorId %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= channel.description %>
  </p>

  <p>
    <strong>Createdate:</strong>
    <%= channel.createDate %>
  </p>

</div>
