<div id="<%= dom_id comment %>">
  <p>
    <strong>Userid:</strong>
    <%= comment.userId %>
  </p>

  <p>
    <strong>Videoid:</strong>
    <%= comment.videoId %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <strong>Dateposted:</strong>
    <%= comment.datePosted %>
  </p>

</div>
