<div id="<%= dom_id subscription %>">
  <p>
    <strong>Userid:</strong>
    <%= subscription.userId %>
  </p>

  <p>
    <strong>Channelid:</strong>
    <%= subscription.channelId %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= subscription.startDate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= subscription.endDate %>
  </p>

</div>
