<h1>Edit Subscription</h1>
<%= form_with(model: [@subscription.user, @subscription], local: true) do |form| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% @subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :startDate %>
    <%= form.date_field :startDate %>
  </div>

  <div class="field">
    <%= form.label :endDate %>
    <%= form.date_field :endDate %>
  </div>

  <div class="field">
    <%= form.label :channel_id %>
    <%= form.collection_select :channel_id, Channel.all, :id, :channelName %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', user_subscriptions_path(@subscription.user) %>
