<h1>Report</h1>
<p>Type: <%= @report.reportType %></p>
<p>Date: <%= @report.generatedDate %></p>
<p>Content: <%= @report.content %></p>
<%= link_to 'Edit', edit_user_report_path(@report.user, @report) %>
<%= link_to 'Back', user_reports_path(@report.user) %>
